

<html>

	<div>

		<form type = "input" action = "reset_password" >
			<label>Enter your email</label>
			<input type="text" name = "email"><br />
			<label> enter old password</label>
			<input type="password" name = "old_password"><br />
			
			<label> enter new password</label>
			<input type="password" name = "new_password"><br />
	
			<label> enter confirm password</label>
			<input type="password" name = "new_password_confirmation"><br />
			<input type = "submit" value = "Submit" >

	</form> 
	</div>
</html>
