

<html>


<table class="CSSTableGenerator">
<tr></tr>
<tr> <td>
<h2>Welcome</h2>
<br />
<p>In today's Web 2.0 world most customers are developing radically different behavior patterns using mobile devices and social networking sites. Not only do these customers expect an extremely personalized experience, but they want the highest level of functionality and control online.
Bank 2.0 Portal is a modern, user experience platform that helps you to compose truly customer-centric dialogs, and enables you to combine content, data and functionality from different underlying systems within a new, fresh, customer-centric presentation.</p></td></tr>


<tr> <td>
&emsp;&emsp;<h2><strong>Bank 2.0 Portal offers the following capabilities:</strong></h2><br /><br />
<h3>Widgets</h3>
 
<p>At the heart of the Bank 2.0 Portal are Widgets -- the future of the Web. They are modular mini applications that reuse and combine content and functionality from different underlying systems (silo's) into a new composite presentation or so-called, mashup application. Widgets run within your Bank 2.0 Portal, but also can be reused on third-party websites or on mobile devices. Backbase uses widgets to create modular and flexible user interfaces. We don't make you rebuild your applications from scratch but instead enable you to re-purpose your systems by wrapping them into widgets. </p></td></tr>

<tr> <td><br />
<h3>Presentation</h3>
 
<p>Bank 2.0 Portal takes care of the presentation of your content and functionality in a personalized and customer-friendly manner. The Portal enables you to manage the page composition as well as page flows. It ensures a common, consistent look and feel and provides dynamic but consistent navigation support as well. Finally, Bank 2.0 Portal operates across multiple devices, comes with tablet- and smart phone-optimized presentation templates and knows your customers' preferences per device. </p></td></tr>

<tr> <td><br />
<h3>Access Control</h3>
 
<p>Bank 2.0 Portal integrates directly with your existing security and single-sign-on (SSO) infrastructure. In this way, Backbase enables role-based access control within your Bank 2.0 portal allowing you to control which customer is authorized to see what information. Backbase equips your portal with a proven security model that is ready to work on the regular web, as well as on mobile devices. </p></td></tr>

<tr> <td><br />
<h3>Customization</h3>
 
<p>Not all your customers are equal. Just as they can easily choose apps for their mobile phone, now they can create their own customized Bank 2.0 Portal with a precise combination of your comprehensive range of banking and brokerage widgets including: account services, online bill payment, loan processing, stock trades, market reports, business services and other pieces of relevant content. Allow your customers to create their own tailor-made My Portal pages by selecting the widgets they most frequently use. </p></td></tr>

<tr><td><br />
<h3>Segmentation</h3>
 
<p>With Bank 2.0 Portal you can target individual customer segments with a distinct portal concept that is optimized for their specific needs. This allows you to truly differentiate your offering and service model per customer such as: high net worth individuals, small business owners, students, families, retirees, etc.</p></td></tr>

<tr> <td><br />
<h3>Personalization</h3>
 
<p>Bank 2.0 Portal provides the machinery to create and manage customer profiles and apply personalization rules that target the right content and functionality to the right end-user. This is accomplished using their personal preference or behavior data (1:1 marketing). Behind the scenes, Bank 2.0 Portal handles the interaction with your CRM domain for campaign management, data mining and master data management.</p></td></tr>

<tr> <td><br />
<h3>Cross Channel</h3>
 
<p>Backbase Portal can be used across multiple channels (online, call, branch) and enables you to better handle cross-channel customer journeys. By using a single platform you can streamline cross-channel interactions and and empower all actors (customers, agents, advisors) to collaborate more efficiently. </p></td></tr>

<tr> <td><br />
<h3>Summary</h3>
 
<p>Bank 2.0 Portal runs on top of your existing banking systems and processes and aggregates content and functionality from these systems into a modern Web 2.0 user interface. Additionally, the Portal complements your existing systems with specialized customer engagement apps (e.g. forms, social, user-generated content) that help you optimize your online customer interactions. </p></td></tr>



</html>
