/*
CSS Credit: http://www.templatemo.com/
*/

html
{
	overflow-y: scroll;
}
body {
	margin: 0;
	padding: 0;
	line-height: 1.5em;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #58b5b2;
	background: #121e1b url(images/templatemo_main_bg.png) repeat;
}
		
a:link, a:visited { color: green; text-decoration: none; font-weight: bold;} 
a:active, a:hover { color: green;}

p { margin: 0px; padding: 0px; }

img { margin: 0px; padding: 0px; border: none; }

.cleaner { clear: both; width: 100%; height: 0px; font-size: 0px;  }

.margin_bottom_10 { clear: both; width: 100%; height: 10px; font-size: 1px;	}
.margin_bottom_20 { clear: both; width: 100%; height: 20px; font-size: 1px;	}
.margin_bottom_30 { clear: both; width: 100%; height: 30px; font-size: 1px;	}
.margin_bottom_40 { clear: both; width: 100%; height: 40px; font-size: 1px;	}
.margin_bottom_50 { clear: both; width: 100%; height: 50px; font-size: 1px;	}
.margin_bottom_60 { clear: both; width: 100%; height: 60px; font-size: 1px;	}

.margin_right_30 { margin-right: 30px; }
.margin_right_40 { margin-right: 40px; }

.rc_btn_01 a {
	clear: both;
	float: right;
	display: block;
	width: 104px;
	height: 25px;
	padding: 5px 0 0 0;
	font-size: 12px;
	text-align: center;
	color: #cfa937;
	text-decoration: none;
	border: none; 
	background: url(images/templatemo_button_01.png) no-repeat;
}
.rc_btn_01 a:hover {
	background: url(images/templatemo_button_02.png) no-repeat;
	color: #FFFF99;
}

#templatemo_container {
	width: 980px;
	margin: 0 auto;
	padding: 40px 0;
}

/* top panel */

.ui-datepicker {
width: 17px; /*what ever width you want*/
}
#templatemo_top_panel {
	width: 940px;
	height: 141px;
	padding: 0 20px;
    background: url(images/templatemo_top_panel_bg.png);
}

#templatemo_top_panel #top_panel_ls {
	float: left;
	width: 280px;
}

#templatemo_site_title {
	margin-left: 20px;
	padding-top: 45px;
	font-size: 25px;
	font-weight: bold;
	color: #ffffff;
}

#templatemo_top_panel #top_panel_rs {
	float: right;
	width: 660px;
}


#top_panel_rs #search_section {
	float: right;
	padding: 20px 20px 10px 0;
	margin-bottom: 6px;
	width: 600px;
}

#search_section form {
	float: right;
	margin: 0px;
	padding: 0px;
}

#searchfield {
	height: 15px;
	width: 200px;
	padding: 5px;
	color: #000;
	font-size: 13px;
	font-variant: normal;
	line-height: normal;
	background: #606060;
	border: 1px solid #969696;	
}

#searchbutton{
	width: 106px;
 	height: 29px;
	margin: 0 0 0 10px;
	padding: 0 6px;
	cursor: pointer;
	font-size: 12px;
	font-weight: bold;
	text-align: center;
	vertical-align: bottom;
	white-space: pre;
	color: #ffffff;
	background: #ba9835; 
	border: 1px solid #000;
}

/* end of top panel */

/* menu */

#templatemo_menu {
	clear: both;
}

#templatemo_menu ul {
	float: left;
	margin: 0px;
	padding: 0px;
	list-style: none;
}

#templatemo_menu ul li{
	display: inline;
}

#templatemo_menu ul li a{
	float: left;
	display: block;
	height: 40px;
	margin-left: 10px;
	padding: 17px 30px 0 20px;
	font-size: 13px;
	font-weight: bold;
	text-decoration: none;
	color: #ffffff;	
	outline: none;
}


#templatemo_menu li a:hover, #templatemo_menu li .current{
	position: relative;
	color: #ffffff;
	background: url(images/templatemo_menu_button_right.png) bottom right no-repeat;
}

#templatemo_menu li a:hover span, #templatemo_menu li .current span	{
	position: absolute;
	display: inline-block;
	width: 10px;
	height: 57px;
	bottom: 0px;
	left: -10px;
	background: url(images/templatemo_menu_button_left.png) left bottom no-repeat;
}


/* end of menu */

/* banner */

#templatemo_banner {
	clear: both;
	width: 860px;
	margin: 0 auto;
	padding: 20px 60px 0 60px;
	text-align: center;
	background: url(images/templatemo_content_middle.png) repeat-y;
}

#banner_header_01 {
	padding: 5px 0 20px 0;
	font-size: 40px;
	font-weight: bold;
	color: #bf9f3f;
}

#banner_header_02 {
	margin-bottom: 20px;	
	font-size: 18px;
	font-weight: bold;
	color: #b6ad94;
}

#banner_text {
	color: #cccccc;
	font-size: 14px;
}

#banner_text p{
	margin-bottom: 20px;
}

/* end of banner */	

/* content */

#templatemo_content {
	clear: both;
	width: 860px;
	margin: 0 auto;
	padding: 20px 60px 0 60px;
	background: url(images/templatemo_content_middle.png) repeat-y;
}

#ct {
	clear: both;
	width: 980px;
	height: 20px;
	background: url(images/templatemo_content_top.png) no-repeat;
}

#cb {
	clear: both;
	width: 980px;
	height: 50px;
	background: url(images/templatemo_content_bottom.png) no-repeat;
}

#templatemo_content #content_right{
	float: right;
	width: 220px;
}

#templatemo_content #content_left{
	float: left;
	width: 600px;
}


.content_header_01 {
	font-size: 22px;
	color: #42c7f8;
	padding-bottom: 10px;
	margin-bottom: 20px;
}

.content_header_02 {
	font-size: 22px;
	color: #42c7f8;
	padding-bottom: 15px;
}

#content_left .content_left_section {
	clear: both;
}

.content_left_section p{
	text-align: justify;
	padding-bottom: 10px;
}

#content_left .content_left_280_section {
	float: left;
	width: 280px;
}

.content_left_280_section .image_wrapper {
	background: #333;
	padding: 9px;
	margin-bottom: 10px;
}

.content_left_280_section .image_wrapper img {
	border: 1px solid #ffffff;
}

.content_left_280_section ul {
	margin: 20px 0 20px 30px;
	padding: 0px;
}

.content_left_280_section ul li{
	margin-bottom: 10px;
	color: #dbdb13;
	list-style: decimal-leading-zero;
}

.content_left_280_section ul li a{ 
	color: #dbdb13;
}

.content_left_w600_wrapper {
	border: 1px solid #000;
}

.content_left_w600_inner {
	padding: 30px 28px;
	color: #ffffff;
	background: #333;
	border: 1px solid #666;
}

.content_left_w600_inner .image_wrapper{
	border: 1px solid #ffffff;
	background: #cccccc;
	padding: 4px;
	margin-bottom: 5px;
}

.image_wrapper img{
	border: none;
}

.box_w255 {
	float: left;
	width: 255px;
}



#content_right .content_right_section {
	clear: both;
}

.news_section .news_date {
	font-size: 12px;
	font-weight: bold;
	color: #42c7f8;
}

.news_section .news_title {
	font-size: 12px;
	font-weight: bold;
	color: #bf9f3f;
}

.content_right_section form {
	padding: 0px;
	margin: 10px 0 0px 0;
}

.content_right_section #subscribe_field {
	padding: 5px 0 0 0;
	height: 20px;
	width: 215px;
	margin-bottom: 10px;
}

.content_right_section #subscribe_button {
	float: right;
	width: 104px;
 	height: 29px;
	padding: 0;
	margin: 0;
	cursor: pointer;
	font-size: 12px;
	text-align: center;
	white-space: pre;
	background: url(images/templatemo_button_01.png) no-repeat; 
	color: #cfa937;
	border: none;
}

/* end of content right */

/* footer */
#templatemo_footer {
	width: 900px;
	height: 45px;
	padding: 20px 40px 0 40px;
	text-align: center;
	background: url(images/templatemo_footer.png) no-repeat;
}

#templatemo_footer a {
	color: #ffffff;
	font-weight: bold;
}
/* end of footer */
#main 
{
width:100%;

margin-top:20px;
margin-bottom:15px;
}


#main #main_left
{
width:17%;
background-color: white;
padding: 1px;
text-align:left;
float:left;
}

input[type="text"],input[type="password"],input[type="select"]  {
	width: 221px;
	background: transparent url('bg.jpg') no-repeat;
	color : #747862;
	height:20px;
	border:0;
	padding:4px 8px;
	margin-bottom:0px;
}
#age {
	width: 15px;
	background: transparent url('bg.jpg') no-repeat;
	color : #747862;
	height:20px;
	border:0;
	padding:4px 8px;
	margin-bottom:0px;
}
#proof {
	width: 100px;
	background: transparent url('bg.jpg') no-repeat;
	color : #747862;
	height:20px;
	border:0;
	padding:4px 8px;
	margin-bottom:0px;
}
#main #main_right
{

padding-left:5px;
height:auto;
width:80%;
color:#FFFFFF;
background-color: white;
padding-bottom:10px;
text-align:center;
float:left;
}

#main #main_left1
{
width: 40%;
background-color: white;
border: 1px solid;
padding: 1px;
text-align:left;
color: black;
	font-family: Times;
	font-size: 14px;

float:center;
}

#main_right1
{


height:auto;
width:100%;
color:#FFFFFF;
background-color: white;
padding-bottom:10px;
text-align:center;
float:left;
}
.CSSTableGenerator3
{

     margin:1px;padding:10px;
     width:45%;	box-shadow: 10px 10px 5px #888888;
     border:1px solid #000000;

     -moz-border-radius-bottomleft:14px;
     -webkit-border-bottom-left-radius:14px;
     border-bottom-left-radius:14px;
     
     -moz-border-radius-bottomright:14px;
     -webkit-border-bottom-right-radius:14px;
     border-bottom-right-radius:14px;

     -moz-border-radius-topright:14px;
     -webkit-border-top-right-radius:14px;
     border-top-right-radius:14px;

     -moz-border-radius-topleft:14px;
     -webkit-border-top-left-radius:14px;
     border-top-left-radius:14px;

}
.CSSTableGenerator 
{

     margin:1px;padding:10px;
     width:90%;	box-shadow: 10px 10px 5px #888888;
     border:1px solid #000000;

     -moz-border-radius-bottomleft:14px;
     -webkit-border-bottom-left-radius:14px;
     border-bottom-left-radius:14px;
     
     -moz-border-radius-bottomright:14px;
     -webkit-border-bottom-right-radius:14px;
     border-bottom-right-radius:14px;

     -moz-border-radius-topright:14px;
     -webkit-border-top-right-radius:14px;
     border-top-right-radius:14px;

     -moz-border-radius-topleft:14px;
     -webkit-border-top-left-radius:14px;
     border-top-left-radius:14px;

}

.CSSTableGenerator1
{

     
     width:90%;	box-shadow: 10px 10px 5px #888888;
     border:1px solid #ffffff;
     text-align: center
     -moz-border-radius-bottomleft:14px;
     -webkit-border-bottom-left-radius:14px;
     border-bottom-left-radius:14px;
     
     -moz-border-radius-bottomright:14px;
     -webkit-border-bottom-right-radius:14px;
     border-bottom-right-radius:14px;

     -moz-border-radius-topright:14px;
     -webkit-border-top-right-radius:14px;
     border-top-right-radius:14px;

     -moz-border-radius-topleft:14px;
     -webkit-border-top-left-radius:14px;
     border-top-left-radius:14px;

}

.content
{

     margin:0px;padding:0px;
     width:100%;	box-shadow: 10px 10px 5px #888888;
     border:1px solid #ffffff;
     padding:12px;
     color:#123462;
     -moz-border-radius-bottomleft:14px;
     -webkit-border-bottom-left-radius:14px;
     border-bottom-left-radius:14px;

     -moz-border-radius-bottomright:14px;
     -webkit-border-bottom-right-radius:14px;
     border-bottom-right-radius:14px;

     -moz-border-radius-topright:14px;
     -webkit-border-top-right-radius:14px;
     border-top-right-radius:14px;

     -moz-border-radius-topleft:14px;
     -webkit-border-top-left-radius:14px;
     border-top-left-radius:14px;

}

.content td
{

    text-align:center;
    margin:5px;padding:5px;
    
    background-color:#F0F8FF;
    -moz-border-radius-bottomleft:14px;
    -webkit-border-bottom-left-radius:14px;
    border-bottom-left-radius:14px;
    -moz-border-radius-bottomright:14px;
    -webkit-border-bottom-right-radius:14px;
    border-bottom-right-radius:14px;
    -moz-border-radius-topleft:14px;
    -webkit-border-top-left-radius:14px;
    border-top-left-radius:14px;
     -moz-border-radius-topright:14px;
     -webkit-border-top-right-radius:14px;
     border-top-right-radius:14px;

}

.CSSTableGenerator3 table
{

     width:100%;
     height:100%;
     margin:0px;padding:0px;
     vertical-align:middle;

}
.CSSTableGenerator3 tr:last-child td:last-child 
{

     -moz-border-radius-bottomright:14px;
     -webkit-border-bottom-right-radius:14px;
     border-bottom-right-radius:14px;

}

.CSSTableGenerator3 table tr:first-child td:first-child 
{
     -moz-border-radius-topleft:14px;
     -webkit-border-top-left-radius:14px;
     border-top-left-radius:14px;
}

.CSSTableGenerator3 table tr:first-child td:last-child 
{

     -moz-border-radius-topright:14px;
     -webkit-border-top-right-radius:14px;
     border-top-right-radius:14px;

}

.CSSTableGenerator3 tr:last-child td:first-child
{

     -moz-border-radius-bottomleft:14px;
     -webkit-border-bottom-left-radius:14px;
     border-bottom-left-radius:14px;

}
.CSSTableGenerator3 tr:hover td
{

     background-color:#ffffff;

}

.CSSTableGenerator3 td
{

     vertical-align:middle;

     background-color:#aad4ff;
     border:0px solid #ffffff;
     border-width:0px 0px 0px 0px;
     text-align:left;
     padding:7px;
     font-size:12px;
     font-family:Arial;
     font-weight:normal;
     color:#000000;

}

.CSSTableGenerator3 tr:last-child td
{
     border-width:0px 0px 0px 0px;
}

.CSSTableGenerator3 tr td:last-child
{
     border-width:0px 0px 0px 0px;
}

.CSSTableGenerator3 tr:last-child td:last-child
{
     border-width:0px 0px 0px 0px;
}

.CSSTableGenerator3 tr:first-child td
{

	background:-o-linear-gradient(bottom, #005fbf 5%, #ffffff 100%);
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #005fbf), color-stop(1, #003f7f) );
	background:-moz-linear-gradient( center top, #005fbf 5%, #003f7f 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#005fbf", endColorstr="#003f7f");
	background: -o-linear-gradient(top,#005fbf,003f7f);
	background-color:#005fbf;
	border:0px solid #ffffff;
	text-align:center;
	border-width:0px 0px 0px 0px;
	font-size:14px;
	font-family:Arial;
	font-weight:bold;
	color:#ffffff;

}

.CSSTableGenerato3r tr:first-child:hover td
{

	background:-o-linear-gradient(bottom, #005fbf 5%, #003f7f 100%);
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #005fbf), color-stop(1, #003f7f) );
	background:-moz-linear-gradient( center top, #003f7f 5%, #005fbf 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#005fbf", endColorstr="#003f7f");
	background: -o-linear-gradient(top,#005fbf,003f7f);
	background-color:#005fbf;

}

.CSSTableGenerator3 tr:first-child td:first-child
{
     border-width:0px 0px 0px 0px;
}

.CSSTableGenerator tr:first-child td:last-child
{
     border-width:0px 0px 0px 0px;
}

.CSSTableGenerator table
{

     width:100%;
     height:100%;
     margin:0px;padding:0px;
     vertical-align:middle;

}
.CSSTableGenerator tr:last-child td:last-child 
{

     -moz-border-radius-bottomright:14px;
     -webkit-border-bottom-right-radius:14px;
     border-bottom-right-radius:14px;

}

.CSSTableGenerator table tr:first-child td:first-child 
{
     -moz-border-radius-topleft:14px;
     -webkit-border-top-left-radius:14px;
     border-top-left-radius:14px;
}

.CSSTableGenerator table tr:first-child td:last-child 
{

     -moz-border-radius-topright:14px;
     -webkit-border-top-right-radius:14px;
     border-top-right-radius:14px;

}

.CSSTableGenerator tr:last-child td:first-child
{

     -moz-border-radius-bottomleft:14px;
     -webkit-border-bottom-left-radius:14px;
     border-bottom-left-radius:14px;

}
.CSSTableGenerator tr:hover td
{

     background-color:#ffffff;

}

.CSSTableGenerator td
{

     vertical-align:middle;

     background-color:#aad4ff;
     border:0px solid #ffffff;
     border-width:0px 0px 0px 0px;
     text-align:left;
     padding:7px;
     font-size:12px;
     font-family:Arial;
     font-weight:normal;
     color:#000000;

}

.CSSTableGenerator tr:last-child td
{
     border-width:0px 0px 0px 0px;
}

.CSSTableGenerator tr td:last-child
{
     border-width:0px 0px 0px 0px;
}

.CSSTableGenerator tr:last-child td:last-child
{
     border-width:0px 0px 0px 0px;
}

.CSSTableGenerator tr:first-child td
{

	background:-o-linear-gradient(bottom, #005fbf 5%, #ffffff 100%);
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #005fbf), color-stop(1, #003f7f) );
	background:-moz-linear-gradient( center top, #005fbf 5%, #003f7f 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#005fbf", endColorstr="#003f7f");
	background: -o-linear-gradient(top,#005fbf,003f7f);
	background-color:#005fbf;
	border:0px solid #ffffff;
	text-align:center;
	border-width:0px 0px 0px 0px;
	font-size:14px;
	font-family:Arial;
	font-weight:bold;
	color:#ffffff;

}

.CSSTableGenerator tr:first-child:hover td
{

	background:-o-linear-gradient(bottom, #005fbf 5%, #003f7f 100%);
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #005fbf), color-stop(1, #003f7f) );
	background:-moz-linear-gradient( center top, #003f7f 5%, #005fbf 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#005fbf", endColorstr="#003f7f");
	background: -o-linear-gradient(top,#005fbf,003f7f);
	background-color:#005fbf;

}

.CSSTableGenerator tr:first-child td:first-child
{
     border-width:0px 0px 0px 0px;
}

.CSSTableGenerator tr:first-child td:last-child
{
     border-width:0px 0px 0px 0px;
}



.button 
{

	-moz-box-shadow:inset 0px 0px 9px 1px #ffffff;
	-webkit-box-shadow:inset 0px 0px 9px 1px #ffffff;
	box-shadow:inset 0px 0px 9px 1px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #69b7d6) );
	background:-moz-linear-gradient( center top, #ededed 5%, #69b7d6 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#69b7d6');
	background-color:#ededed;
	-moz-border-radius:25px;
	-webkit-border-radius:25px;
	border-radius:25px;
	border:2px solid #88a5d1;
	display:inline-block;
	color:green;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	padding:1px 14px;
	text-decoration:none;
	text-shadow:2px -2px 2px #ffffff;

	text-align:center;
}


.button_div{text-align: center; }
.user_nav{text-align: left; }
.button:hover 
{

	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #69b7d6), color-stop(1, #ededed) );
	background:-moz-linear-gradient( center top, #69b7d6 5%, #ededed 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#69b7d6', endColorstr='#ededed');
	background-color:#69b7d6;

}

.button:active 
{

	position:relative;
	top:1px;

}
.button_div .button {align: right;}

.logout_div
{
     text-align: right;
}
.home
{
     text-align: center;
}

.flas
{
color: red;
text-align: center;
}

.button1 {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #77b9e0) );
	background:-moz-linear-gradient( center top, #ededed 5%, #77b9e0 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#77b9e0');
	background-color:#ededed;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	border:1px solid #dcdcdc;
	display:inline-block;
	color:#473e47;
	font-family:arial;
	font-size:12px;
	font-weight:bold;
	padding:2px 2px;
	text-decoration:none;
	text-shadow:1px 1px 0px #ffffff;
}.button1:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #77b9e0), color-stop(1, #ededed) );
	background:-moz-linear-gradient( center top, #77b9e0 5%, #ededed 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#77b9e0', endColorstr='#ededed');
	background-color:#77b9e0;
}.button1:active {
	position:relative;
	top:1px;
}

.button2 {
	-moz-box-shadow:inset 0px 0px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 0px 0px 0px #ffffff;
	box-shadow:inset 0px 0px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #5269b3), color-stop(1, #468edb) );
	background:-moz-linear-gradient( center top, #5269b3 5%, #468edb 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#5269b3', endColorstr='#468edb');
	background-color:#5269b3;
	-moz-border-radius:12px;
	-webkit-border-radius:12px;
	border-radius:12px;
	border:1px solid #cccccc;
	display:inline-block;
	color:#ffffff;
	font-family:arial;
	font-size:13px;
	font-weight:bold;
	padding:5px 8px;
	text-decoration:none;
	text-shadow:0px 0px 0px #ffffff;
}.button2:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #468edb), color-stop(1, #5269b3) );
	background:-moz-linear-gradient( center top, #468edb 5%, #5269b3 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#468edb', endColorstr='#5269b3');
	background-color:#468edb;
}.button2:active {
	position:relative;
	top:1px;
}

.button3 {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #c1d2d9), color-stop(1, #6d7e80) );
	background:-moz-linear-gradient( center top, #c1d2d9 5%, #6d7e80 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#c1d2d9', endColorstr='#6d7e80');
	background-color:#c1d2d9;
	-moz-border-radius:21px;
	-webkit-border-radius:21px;
	border-radius:21px;
	border:1px solid #dcdcdc;
	display:inline-block;
	color:green;
	font-family:Impact;
	font-size:15px;
	font-weight:bold;
	padding:12px 62px;
	text-decoration:none;
	text-shadow:1px 4px 3px #ffffff;
}.button3:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #6d7e80), color-stop(1, #c1d2d9) );
	background:-moz-linear-gradient( center top, #6d7e80 5%, #c1d2d9 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#6d7e80', endColorstr='#c1d2d9');
	background-color:#6d7e80;
}.button3:active {
	position:relative;
	top:1px;
}

.table td
{
   	font-size: 15px;
	font-weight:bold;
	
}
.table1 td
{
   	
	font-weight:bold;
	
}

.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
.ui-timepicker-div dl { text-align: left; }
.ui-timepicker-div dl dt { height: 25px; margin-bottom: -25px; }
.ui-timepicker-div dl dd { margin: 0 10px 10px 65px; }
.ui-timepicker-div td { font-size: 90%; }
.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }

.ui-timepicker-rtl{ direction: rtl; }
.ui-timepicker-rtl dl { text-align: right; }
.ui-timepicker-rtl dl dd { margin: 0 65px 10px 10px; }
